body {
    margin: 0;
    color: #FFFFFF;
    background-color: black;
    font-family: 'Inter', sans-serif;
}


#main {
    width: 550px;
    margin: 10% auto;
}

#caja1 {
    height: 260px;
    background-image: linear-gradient(45deg, #FB3796, #585DFE);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caja1 h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 38px;
}

#entrada {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    text-align: center;
    font-size: 97.57px;
    font-weight: bold;
    line-height: 24.4px;
    width: 40%;
}


#caja2 {
    height: 300px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convert {
    text-align: center;
}

.convert p {
    color: #D2D2D2;
}

#last {
    margin-bottom: 10px;
}